.titulo-numero {
  font-size: 4rem;
  margin-left: 2.5rem;
  font-weight: normal;
}

.numeros-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.numeros-grid h3 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.numeros-grid span {
  font-weight: bold;
  font-size: 1.8rem;
  color: #E54;
}

.numero-animal:nth-child(even) {
  margin-left: 150px;
}

@media(max-width:1200px) {
  .grid-section {
    margin-left: 100px;
  }
}

@media(max-width:800px) {
  .grid-section {
    margin-left: 300px;
  }
}

@media(max-width:500px) {
  .numeros-grid h3 {
    font-size: 1.8rem;
  }

  .titulo-numero {
    font-size: 3.5rem;
  }

  .numero-animal:nth-child(even) {
    margin-left: 100px;
  }
}

@media(max-width:420px) {
  .numeros-grid {
    grid-template-columns: 1fr;
  }

  .numero-animal:nth-child(even) {
    margin-left: 0;
  }

  .titulo-numero {
    margin-left: 1.5rem;
  }

  .grid-section {
    margin-left: 150px;
  }
}