.tooltip {
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 2px #FB5, 0 0 0 6px rgba(0, 0, 0, .6);
  padding: .3rem;
  color: white;
  font-family: cursive;
  font-weight: .875rem;
  max-width: 150px;
  border-radius: 4px;
  top: 0px;
  left: 0px;
}